<section class="section">
    <div class="container">
      <div class="wrapper">
        <div class="cards-all">
            <div class="cards-paggination">
                <h2 class="visually-hidden">All cards</h2>
            </div>
            <div class="side-cards">
                <div class="popular">
                    <h2 class="title">Popular products</h2>
                </div>
                <div class="discount">
                    <h2 class="title">Discount products</h2>
                </div>
            </div>
        </div>
      </div> 
    </div>

</section>


