<header class="container">
  <div class="section header-conteiner">
  <div class="logo-cont">
    <a class="logo-link link" href="../index.html">
    <svg class="logo-img">
      <use href="../img/sprite.svg#icon-white-logo"></use>
    </svg>
    <span class="logo-text">Food Boutique</span>
  </a>
  </div>
  <nav class="nav">
    <ul class="nav-list list">
      <li class="nav-item">
        <a href="/" class="nav-link nav-home">Home</a>
      </li>
      <li class="nav-item">
        <a href="../basket.html" class="nav-link nav-basket">
          <svg class="icon-basket-header">
      <use href="../img/sprite.svg#icon-white-basket"></use>
    </svg>
  <span class="header-cart-text">CART (<span class="itemsCount">0</span>)</span> 
            </a>
      </li>
    </ul>
  </nav>
  </div>
  <script type="module" src="/"></script>
</header>
