.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
}

.logo {
  
}

.logo-img {
  width: 16px;
height: 16px;
flex-shrink: 0;
  
}
.logo-text {
  color: var(--third-dark-color);
  font-family: var(--icon-font);
  font-size: 18px;
font-weight: 900;
line-height: 1.1;
letter-spacing: 0.02em;
  
}
